{% extends "base/base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="container">
	<div class="user-settings-section">
		<div class="content-section user-settings-content">
			{% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{message.tags}}">
					{{message}}
				</div>
			{% endfor %}
			{% endif %}
			<legend class="border-bottom mb-4" style="font-size: 160%">
				<b>Profile Info</b>
			</legend>
			<div class="user-info">
				<div class="media">
					<img class="settings-img" src="{{user.usersettings.image.url}}" />
					<br />
				</div>
				<div class="media-body">
					{%if user.is_charity %}
					<h2 class="account-heading">{{user.charity.charity_name}}</h2>
					{%else%}
					<h2 class="account-heading">
						{{user.volunteer.first_name}} {{user.volunteer.last_name}}
					</h2>
					{%endif%}
					<p class="text-secondary settings-tags">{{user.email}}</p>
					{% if user.is_charity %}
					<a class="update-settings" href="{% url 'charities:charity_settings' %}" style="font-weight: bold; color: #4E99A4">Profile Settings</a>
					{% else %}
					<a class="update-settings" href="{% url 'volunteers:volunteer_settings' %}" style="font-weight: bold; color: #4E99A4">Profile Settings</a>
					{% endif %}
					<a class="update-settings" href="{% url 'update_password' %}">Update Password</a>
					{%if user.is_charity%}
					{%else%}
					<a class="update-settings" href="{% url 'volunteers:volunteer_interests' %}">Update
						Interests</a>
					{%endif%}
				</div>
			</div>
			
			<!-- FORM HERE -->
			<div class="user-settings-form">
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<fieldset class="form-group">
						{{x_form|crispy}} {{u_form|crispy}} {{p_form|crispy}}
					</fieldset>
					<div class="form-group">
						<button style="margin-top: 10px" class="standard-btn" type="submit">
							Update
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}